$color-primary: #c2c27acc;
$color-primary-light:#55c57a;
$color-primary-dark:#9bc3c1cc;

$color-grey-dark: #777;
$color-black:rgb(132, 132, 187);
$color-grey-light-1: #f7f7f7;


// Variables for grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;